<app-header></app-header>
<table class="table">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{ product.id }}</th>
        <td>
          {{ product.name }}
          <img src="{{ product.img }}" class="product-img" />
        </td>
        <td></td>
        <td>{{ product.price }}</td>
      </tr>
    </tbody>
  </table>
</table>
<app-footer></app-footer>
