<app-modal></app-modal>
<app-header></app-header>
<table class="table">
  <table class="table table-bordered">
    <thead>
      <tr class="table-primary">
        <th scope="col" *ngFor="let header of headers">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" class="box">
        <td class="product-name align-middle">
          {{ product.name }}
        </td>
        <td>
          <img src="{{ product.img }}" class="product-img" />
        </td>
        <td class="description">{{ product.description }}</td>
        <td>$ {{ product.price }}</td>
        <td class="manage">
          <div class="buttons-container">
            <button
              type="button"
              class="btn btn-primary"
              (click)="handleEdit(product.id)"
            >
              Edit Item
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="handleDelete(product.id)"
            >
              Delete Item
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</table>
<app-footer></app-footer>
