.table {
  width: 90%;
  margin: 0 auto 100px;

  .product-img {
    width: 150px;
    height: 150px;
  }

  .box {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

    .product-name {
      font-weight: bold;
    }
  }

  .description {
    width: 50%;
  }

  .manage {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;

    .buttons-container {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 90px;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 1700px) {
        width: 100%;
      }
    }

    .btn {
      width: 75%;
      @media (max-width: 1700px) {
        width: 100%;
      }

      @media (max-width: 1200px) {
        font-size: 10px;
      }
    }
  }
}
