.table {
  width: 90%;
  margin: 0 auto 100px;

  .product-img {
    width: 150px;
    height: 150px;
  }

  .box {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

    .product-name {
      font-weight: bold;
    }
  }

  .description {
    width: 50%;
  }

  .manage {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;

    .btn {
      width: 75%;
    }
  }
}
