.footer {
  width: 100%;
  position: fixed;
  bottom: 0;

  .container {
    display: flex;
    justify-content: space-around;
  }

  .icons {
    color: white;
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
}
