<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="products-labels">
      <a
        class="navbar-brand"
        *ngFor="let label of menu"
        href="{{ label.path }}"
      >
        <fa-icon [icon]="label.icon"></fa-icon>
        {{ label.name }}
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
