.modal-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  left: 35%;
  width: 30%;
  height: 20%;
  background-color: rgb(188, 218, 247);
  border-radius: 5px;
  align-items: center;
  padding-top: 20px;
  @media (max-width: 1300px) {
    height: 25vh;
  }

  .buttons-container {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
}
